[submodule "Reops/slam"]
	path = Reops/slam
	url = https://github.com/gongbingg/slam.git
[submodule "Reops/UMich-ROB-530-public"]
	path = Reops/UMich-ROB-530-public
	url = https://github.com/UMich-CURLY-teaching/UMich-ROB-530-public.git
